---
import '$styles/bubble.css';
import Layout from '$layouts/global.astro';
import {colorSet} from '$components/utils/colors';

const topColor = colorSet[0];
const bottomColor = colorSet.at(-3);

---
<Layout title={"bubbles left"}>
  <article id="root" class="p-0" style={"--top-color:"+{topColor}+";--bottom-color:"+{bottomColor}+";"}>
    <!--!-->
    <div
      class="bubble-panel"
      style="background-image: linear-gradient(150deg, var(--top-color) 10%, var(--bottom-color) 95%)"
    >
      <!--!-->
      <div
        class="bubble-container"
        style="color: black; top: 168px; left: 167px; width: 335px; height: 335px"
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Carrie
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_438b25f1-8f5a-48d6-be55-cc98908d1020=""
          >
            Barfels
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2018</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="color: black; top: 504px; left: 669px; width: 335px; height: 335px"
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Jesus
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_a46c0755-2588-4ab2-bab4-ca43ac551f20=""
          >
            Barriga
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">1983</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 672px;
          left: 1338px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadeout" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Michelle
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 59.06349px"
            b-x7lxoh0rz1=""
            _bl_e04d9b15-efe4-4e5d-914c-199fef8d6bbb=""
          >
            Bancroft
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2018</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 336px;
          left: 1673px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Dawn
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_5f623c88-3fd1-46a3-8fcf-874686b29aaa=""
          >
            Barr
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2006</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="color: black; top: 840px; left: 167px; width: 335px; height: 335px"
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Sheryl
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_c8472a96-2c1f-481b-ae36-943b91b5c135=""
          >
            Barr
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2015</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 1176px;
          left: 669px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Emil
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_45e71255-a2c7-42c8-bb6a-ddf98c5b651e=""
          >
            Barr
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">1968</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 1176px;
          left: 1505px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Ester
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_82e39aa0-b787-4296-beb0-bd21bd88cba9=""
          >
            Bar-Nes
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2012</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 1680px;
          left: 335px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Kenny
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_d4eb9a6d-a3cf-44f3-8cb4-1428dd20fa5e=""
          >
            Barnes
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2015</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 1680px;
          left: 1171px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Scott
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_8f57f371-ea83-4b3d-b732-444e1406af99=""
          >
            Barker
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2008</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2184px;
          left: 251px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadeout" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Charlotte
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 48.577023px"
            b-x7lxoh0rz1=""
            _bl_3a0da7f0-36a1-4fa6-8637-13bd26401873=""
          >
            Bambrough
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2019</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2184px;
          left: 920px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Nichole
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_229f0dd8-a850-4177-8675-ad0cf379876c=""
          >
            Bardell
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2004</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2016px;
          left: 1756px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadeout" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Amanda
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_b59e879b-b3a1-41d1-9438-3fabfd65568a=""
          >
            Barclay
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2015</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2856px;
          left: 167px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Lori
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_102e0498-ea4c-4f7e-a58d-f91da73b62d2=""
          >
            Barry
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2019</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2688px;
          left: 1087px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Janice
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_ff303c9f-20d1-4ff4-a8fa-d173c5b7dde1=""
          >
            Barnes
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">1982</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 2856px;
          left: 1756px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Robert
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_a63dace5-de07-4b4d-90f1-d6a5ca03a536=""
          >
            Baron
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">1985</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 3192px;
          left: 585px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadein" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Donald
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_51c46c3e-ec59-4949-82ef-d76b052cdf48=""
          >
            Barrows
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">1997</div>
        </div>
      </div>
      <!--!-->
      <div
        class="bubble-container"
        style="
          color: black;
          top: 3360px;
          left: 1254px;
          width: 335px;
          height: 335px;
        "
        b-x7lxoh0rz1=""
      >
        <div class="bubble-data fadeout" b-x7lxoh0rz1="">
          <div class="firstname" style="letter-spacing: 0.5em" b-x7lxoh0rz1="">
            Barbara
          </div>
          <!--!-->
          <div
            class="lastname"
            style="font-size: 61px"
            b-x7lxoh0rz1=""
            _bl_e7a675ed-5a50-4229-88a0-458714f05aaa=""
          >
            Barnard
          </div>
          <!--!-->
          <div class="year" b-x7lxoh0rz1="">2000</div>
        </div>
      </div>
    </div>
  </article>

  <script type="module">
    import {createColors} from '/src/components/utils/colors.js';
    const colors = createColors({ duration: 90000 });

    if (typeof window !== 'undefined') {
      const root = document.querySelector('#root');

      colors.subscribe(value => {
        if (root) {
          const {topColor, bottomColor} = value;
          root.setAttribute('style', `--top-color:${topColor}; --bottom-color:${bottomColor};`)
        }
      });
    }
  </script>
</Layout>

<style>
  .bubble-container {
    border-color: #7c7c7c;
    mix-blend-mode: overlay;
    box-shadow: inset 35px -50px 60px hsla(0deg 0% 75% / 30%);
  }
  .bubble-panel {
    display: block;
    width: 100%;
    aspect-ratio: 9/16;
    overflow: hidden;
    margin: auto;
    filter: brightness(95%) contrast(110%);
  }
  .bubble-data {
    font-family: "Proxima Nova Extra Condensed", "proxima-nova-extra-condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #1e1e1e;
  }
  .firstname {
    font-family: "Proxima Nova", "proxima-nova", sans-serif;
    font-weight: 900;
    letter-spacing: .5em;
  }
  .lastname {
    letter-spacing: 0.02em !important;
    transform: scale(1.2);
  }
</style>
